div.new
  div.verh
    div.red
    div.task
        div.text
            h2.shapka Новая
            h2.zifra 2
    div.zadacha
        div.name #5: Интернет
        div.name2 Не работает интернет
        div.inf
            <div class="avatar"><img src="img/avatar.png" alt="profile" style="width: 63px; height: 63px;">
            div.inform
                div.graybox
                div.graybox2
                div.greenkryg
        div.kom
            div.text_clock
                <img src="img/clock.svg" alt="profile" style="width: 17px; height: 17px; opacity: 0.65;"> 27.05
            <img src="img/comm.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;">
            <img src="img/bars.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;">
            <img src="img/korzina.png" style="width: 23px; opacity: 0.4;">
    div.zadacha
        div.name #5: Интернет
        div.name2 Не работает интернет
        div.inf
            <div class="avatar"><img src="img/avatar.png" alt="profile" style="width: 63px; height: 63px;">
            div.inform
                div.graybox
                div.graybox2
                div.greenkryg
        div.kom
            <div class="text_clock">
                <img src="img/clock.svg" alt="profile" style="width: 17px; height: 17px; opacity: 0.65;"> 27.05
            <img src="img/comm.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;">
            <img src="img/bars.svg" alt="profile" style="width: 18px; height: 18px; opacity: 0.30;">
            <img src="img/korzina.png" style="width: 23px; opacity: 0.4;">
  <div class="niz"><img src="img/plus.png" style="width: 50px; opacity: 0.5;">